@charset "utf-8";

@media screen and (min-width: 768px) {
    
    header{
        box-shadow: inset 0px -2px 4px rgba(93, 93, 93, 0.292);
    }
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        box-shadow:  0px 0px 5px  rgba(122, 122, 122, 0.644);
    }

    menu > ul > li > a{
        border: none;
        border-radius: 2px;
    }

    menu > ul{
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
    }

    main{
        max-width: 1100px;
    }

    main > article p{
        margin-bottom: 15px;  
        text-align: justify;
        font-size: 1.2em;
    }

    .sobremim{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sobremim img {
        margin-right: 10px;
        max-height: 300px;
    }

    .sobremim p{
        text-align: justify;
        text-indent: 0px;
    }



}   